/* Стилі для шахової дошки */
.chess-board {
    background-color: #333;
    /* Темна межа */
    border: 5px solid black;
    /* Оформлення межі дошки */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    /* Додаємо тінь */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /* 8 колонок */
    grid-auto-rows: 1fr;
    /* Всі ряди рівні */
    transition: all 0.3s ease;
    /* Плавність для анімацій */
}

.chess-square.light {
    background-color: #f0d9b5;
    /* Світло-бежевий для світлих клітинок */
}

.chess-square.dark {
    background-color: #b58863;
    /* Темно-коричневий для темних клітинок */
}

/* Стилі для кнопки "Restart Game" */
.restart-button {
    background-color: #4CAF50;
    /* Зелений фон */
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px auto;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Плавні зміни кольору та трансформації */
}

.restart-button:hover {
    background-color: #45a049;
    /* Темніший зелений при наведенні */
    transform: scale(1.05);
    /* Збільшення кнопки при наведенні */
}

.restart-button:active {
    transform: scale(0.95);
    /* Зменшення кнопки при натисканні */
}

/* Плавна поява шахової дошки */
.chess-board {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .chess-board {
        width: 80vw;
        height: 80vw;
    }
}