.chess-board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #1b1b1b, #434343);
        /* Темний градієнт */
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
}

.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    /* width: 80vmin;
    height: 80vmin; */
    border: 5px solid black;
    border-radius: 5px;
}

.chess-square {
    width: 100%;
    height: 100%; 
}

.status-message {
    margin-top: 20px;
    font-size: 24px;
    color: red;
}

.restart-button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1.5rem;
    background-color: #2e2e2e;
    /* Темний фон */
    color: white;
    border: 2px solid #ffffff;
    /* Контрастна біла рамка */
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.restart-button:hover {
    background-color: #6f6f6f;
    /* Світліший сірий при наведенні */
    transform: scale(1.1);
    /* Збільшення кнопки */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
    /* Тінь при наведенні */
}

/* Анімація натискання */
.restart-button:active {
    transform: scale(1.05);
    /* Зменшення кнопки при натисканні */
    background-color: #505050;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    /* Зменшена тінь */
}

/* Темні клітинки шахової дошки */
.chess-square.light {
    background-color: #e6e6e6;
}

.chess-square.dark {
    background-color: #666666;
}