/* Стилі для шахової дошки */
.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 90vmin;
    height: 90vmin;
    margin: 0 auto;
    border: 5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chess-square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
}

.chess-square.light {
    background-color: #D3D3D3;
}

.chess-square.dark {
    background-color: #4A4A4A;
}

/* Кнопка рестарту */
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 2vmin;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

button:active {
    background-color: #1e7e34;
}