.preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #1b1b1b, #434343);
    /* Темний шаховий фон */
}

.preloader-text {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    /* Стиль для ефекту друкування */
    letter-spacing: 0.1rem;
}