.preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
}

.preloader-text {
    font-size: 5rem;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}